@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Outfit", serif;

}

:root {
  /* logo 3 colors */
  --main-color: #5F6FFF;
  --logo-color: #000B6D;
  --text-color: #4B5563;
  /* ----------------------- */
  --opacity-bg: #EAEFFF;
  --page-title: #323232;
  --aside-text: #515151;
  --form-label: #5D607D;
  --input-placholder: #A2A2A2;
  /* --------- */
  /* --floor-color: #F8F9FD; */
  --bg-white: white;
  --hover-color: #F2F3FF;
  --transition: all .5s;
  /*  */
  --border: #D8D8D8;
}

/*  */
.bg-hover-color {
  background-color: var(--hover-color);
}

.bg-white-color {
  background-color: var(--bg-white);
}

ul,
ol {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}